# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/

# Ignore logs and env files
*.log
.env

# Ignore system files
.DS_Store
# Ignore IDE/project files
.idea/
*.iml
*.xml

# Python build / cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
.venv/
venv/

# System files
.DS_Store
Thumbs.db
